LANG="en_US.UTF-8"
PATH="$PATH:$HOME/bin"
PAGER=less
MANWIDTH=80
LESS='-F -g -i -M -R -S -w -X -z-4'
export EDITOR='emacs'
export GIT_EDITOR='/usr/bin/emacs'
TERM="/home/$USER/bin/urxvtc"
CC=/usr/bin/clang
CXX=/usr/bin/clang++
GEM_HOME=$(ruby -e 'print Gem.user_dir')
GEM_PATH=$HOME/.gem
export DUNST_FONT='OfficeCodePro 7'
export DUNST_SIZE='250x20-30+30'

if [ -n "$BASH" ] && [ -r ~/.bashrc ]; then
    . ~/.bashrc
fi
